[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-pure-pagination = "*"
django-haystack = "*"

[dev-packages]
fabric = "*"

[requires]
python_version = "3.8"
