[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "~=2.2"
elasticsearch = ">=2,3<"
[dev-packages]
fabric = "*"

[requires]
python_version = "3.8"
